@import 'resets';

.masthead {
	min-height: 110vh;
	background: url('/frontend/src/assets/main-bg.jpeg') center/cover, no-repeat;
	display: flex;
	align-items: center;
	margin-bottom: 3em;

	#{&}__container {
		width: 90%;
		margin: 0 auto;

		.masthead-text {
			@include myPrimaryFont;
			text-transform: capitalize;
			color: $dominant-green;
			margin-bottom: 2rem;
			max-width: 500px;
		}

		.p-text {
			color: $accent-green;
			margin-bottom: 2em;
		}

		.btn {
			@include primaryBtn();
		}
	}
}
