@import 'resets';

.product-container-section {
	margin-bottom: 4em;
	padding-top: 10em;
	min-height: 100vh;

	.product-container {
		width: 90%;
		margin: 0 auto;

		.product {
			display: grid;
			gap: 3em;
			position: relative;

			.wrap {
				display: grid;
				gap: 2em;

				.product-image-wrap {
					width: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
					min-height: 400px;
					background: $light;
					box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.075);
					border-radius: $box-radius;

					.img {
						width: 95%;
					}

					.img > img {
						width: 100%;
						border-radius: $box-radius;
					}
				}

				.product-info {
					.heading {
						color: $body-heading-color;
						margin-bottom: 0.5em;
					}

					.price-text {
						font-weight: $font-medium;
						font-size: 1.5rem;
						font-weight: $font-bold;
						font-family: $secondary-font;
						color: $body-heading-color;
					}
				}
			}

			.product-desc-wrap {
				.prod-desc-heading {
					color: $body-heading-color;
					margin-bottom: 1em;
				}

				.descritption-text {
					line-height: 1.6;
					color: $body-p-color;
					font-size: 15px;
					margin-bottom: 0.6em;
				}

				.learnmore-btn {
					border: none;
					background: transparent;
					cursor: pointer;
					font-family: $secondary-font;
					color: $accent-green;
					font-weight: $font-medium;
				}
			}

			.payment-box {
				padding: 2em;
				border: 1px solid rgba(145, 145, 145, 0.267);
				border-radius: $box-radius;
				width: 100%;

				.form-wrap {
					font-family: $secondary-font;

					.location-wrap {
						display: flex;
						justify-content: space-between;
						align-items: center;
						margin-bottom: 1.5em;

						label {
							white-space: nowrap;
							font-weight: $font-medium;
							color: $body-p-color;
						}

						span {
							i {
								color: $accent-green;
							}

							input {
								font-family: $secondary-font;
								width: 100px;
								outline: none;
								border: 1.5px solid $accent-green;
								font-weight: $font-medium;
								padding: 0.5em 0.4em;
								border-radius: 5px;
								color: $accent-green;
							}
						}
					}

					.btn {
						border: none;
						background: $accent-green;
						width: 100%;
						text-align: center;
						font-family: $secondary-font;
						font-weight: $font-medium;
						padding: $btn-padding;
						border-radius: $btn-radius;
						color: $light;
						text-transform: capitalize;
						cursor: pointer;
					}
				}
			}
		}

		@media screen and (min-width: 43em) {
			.product {
				position: relative;

				.wrap {
					display: grid;
					grid-template-columns: 350px 200px;
					gap: 3em;

					.product-image-wrap {
						width: 100%;
						display: flex;
						align-items: center;
						justify-content: center;
						min-height: 400px;
						background: $light;
						box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.075);
						border-radius: $box-radius;

						.img {
							width: 95%;
						}

						.img > img {
							width: 100%;
							border-radius: $box-radius;
						}
					}

					// .product-image-wrap > img {
					// 	inline-size: 100%;
					// 	display: inline-block;
					// }

					.product-info {
						padding-top: 2em;
						.heading {
							white-space: nowrap;
						}
					}
				}

				.product-desc-wrap {
					position: absolute;
					left: 398px;
					top: 130px;
					max-width: 400px;
				}
			}
		}

		@media screen and (min-width: 62em) {
			position: relative;

			.product {
				display: flex;

				.wrap {
					display: grid;
					grid-template-columns: 300px 200px;
					gap: 3em;

					width: 70%;

					.product-image-wrap > img {
						inline-size: 100%;
					}

					.product-image-wrap {
						width: 100%;
					}

					.product-info {
						padding-top: 2em;
						.heading {
							white-space: nowrap;
						}
					}
				}

				.product-desc-wrap {
					position: absolute;
					left: 348px;
					max-width: 30%;
				}

				.payment-box {
					position: sticky;
					width: 30%;
					right: 0;
					top: 15%;
					height: 200px;
				}
			}
		}
	}
}
