@import 'resets';

.product-container {
	height: 80vh;

	display: flex;
	align-items: center;

	.container {
		width: 90%;
		max-width: 400px;
		margin: 0 auto;

		.heading {
			color: $accent-green;
			margin-bottom: 1em;
			line-height: 1.5;
			text-align: center;
		}

		.form-container {
			text-align: center;
			h4 {
				margin-bottom: 0.6em;
				color: $body-heading-color;
			}

			p {
				font-size: 15px;
				color: $body-p-color;
				margin-bottom: 2em;
			}

			form {
				input {
					outline: none;
					padding: 0.6em 1em;
					border-radius: 0.5em;
					border: 1px solid $accent-green;
					font-family: $secondary-font;
					font-weight: $font-medium;
				}

				button {
					background: $accent-green;
					font-family: $secondary-font;
					font-weight: $font-medium;
					border: none;
					padding: 0.6em 1.5em;
					border-radius: 0.5em;
					color: $light;
					display: block;
					margin: 0 auto;
					width: 60%;
					margin-top: 1em;
				}
			}
		}
	}
}
