@import 'resets';

.cart-modal-box {
	position: fixed;
	background: linear-gradient(
		to bottom,
		rgba(106, 186, 67, 1),
		rgba(0, 128, 105, 1)
	);
	display: none;

	top: 15vh;
	left: 0;
	z-index: 100;
	max-height: 85vh;
	width: 100%;
	overflow-y: auto;

	.container {
		width: 90%;
		margin: 0 auto;
		position: relative;

		.heading-wrap {
			padding: 1.5em 0;
			display: flex;
			justify-content: space-between;
			align-items: center;
			position: relative;
			margin-bottom: 1.5em;

			.heading {
				color: $light;
			}

			.cart-close-btn {
				background: $light;
				color: red;
				display: flex;
				align-items: center;
				justify-content: center;
				height: 20px;
				width: 20px;
				border-radius: 100%;
				padding: 20px;
				cursor: pointer;
				position: fixed;
				right: 20px;
				box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.301);
				z-index: 5;

				i {
					font-size: 17px;
				}
			}

			&::before {
				content: '';
				position: absolute;
				height: 1px;
				background: $light;
				left: 0;
				bottom: 0;
				width: 100%;
			}
		}

		.product-content {
			color: $light;
			margin-bottom: 3em;

			.product-wrap {
				display: flex;
				justify-content: space-between;
				margin-bottom: 2em;
				gap: 20px;
				position: relative;

				.wrap {
					display: flex;
					gap: 10px;

					.img-wrap {
						& {
							img {
								inline-size: 150px;
								height: 100%;
								border-radius: 10px;
							}
						}
					}

					.product-info {
						display: flex;
						flex-direction: column;
						justify-content: space-between;

						.product-name {
							max-width: 70%;
							margin-bottom: 0.6em;
							font-size: 0.9rem;
						}

						.product-price {
							margin-bottom: 0.5em;
							position: absolute;
							background: rgb(214, 203, 0);
							z-index: 2;
							padding: 0.5em 1em;
							right: 0;
							bottom: -8px;
							color: $light;
							border-radius: 20px;
							font-family: $secondary-font;
							font-weight: $font-medium;
						}

						.quauntity-wrap {
							button {
								background: transparent;
								padding: 0.8em 1em;
								cursor: pointer;
								background: $light;
								border: none;
							}

							input {
								max-width: 50px;
								padding: 0.8em 1em;
								outline: none;
								border: none;
								text-align: center;
							}
						}
					}
				}

				.bin-wrap {
					cursor: pointer;

					i {
						font-size: 1.2rem;
					}
				}
			}
		}

		.checkout-wrap {
			display: grid;
			gap: 10px;
			position: relative;
			padding-top: 1em;

			&::before {
				content: '';
				position: absolute;
				height: 1px;
				background: $light;
				left: 0;
				top: 0;
				width: 100%;
			}

			.total-wrap {
				display: flex;
				justify-content: space-between;
				color: $light;
			}

			.cart-checkout {
				border: none;
				text-align: center;
				display: block;
				background: rgb(214, 203, 0);
				text-align: center;
				padding: 1em 0;
				margin-bottom: 2em;
				border-radius: $btn-radius;
				color: $light;
				text-transform: capitalize;
				font-weight: $font-medium;
				width: 100%;
				font-size: 1rem;
				cursor: pointer;
			}
		}
	}

	@media screen and (min-width: 43em) {
		width: 50%;
		left: unset;
		right: 80px;
		max-height: 60vh;
		border-radius: 20px;
		top: 17vh;

		.heading-wrap {
			.cart-close-btn {
				right: 100px !important;
			}
		}
	}

	@media screen and (min-width: 62em) {
		width: 450px;
		right: 120px;
		top: 15vh;

		.heading-wrap {
			.cart-close-btn {
				right: 140px !important;
			}
		}
	}
}
