@import 'resets';

.product-main {
	position: relative;
	padding-top: 8em;
	margin-bottom: 4em;
	box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.15);
	backdrop-filter: blur(9.5px);
	min-height: 120vh;

	.container {
		width: 90%;
		margin: 0 auto;
		display: grid;
		gap: 4em;

		.text-area {
			text-align: center;

			.heading {
				@include myPrimaryFont();

				color: $body-heading-color;
				font-size: $font-sm;
				text-transform: capitalize;
				color: $dominant-green;

				margin-bottom: 1em;
			}

			.btn-wrap {
				display: grid;
				gap: 15px;
				a {
					display: block;
				}

				.prod-btn {
					@include primaryBtn();
				}

				.treatment-btn {
					@include secondaryBtn();
				}
			}
		}

		.sample-product-wrap > * {
			inline-size: 100%;
		}
	}

	.svg-wrap {
		position: absolute;

		bottom: -5px;
		z-index: -1;
	}

	.svg-wrap > * {
		inline-size: 100%;
	}

	@media screen and (min-width: 43em) {
		height: 100vh;
		.container {
			width: 70%;
			margin: 0 auto;
			display: grid;
			gap: 4em;

			.text-area {
				.btn-wrap {
					display: flex;
					justify-content: center;
					gap: 15px;
					a {
						display: block;
					}

					.prod-btn {
						@include primaryBtn();
					}

					.treatment-btn {
						@include secondaryBtn();
					}
				}
			}

			.sample-product-wrap > * {
				inline-size: 50%;
				position: absolute;
				left: 27%;
			}
		}

		.svg-wrap {
			right: 0;
			width: 60%;
		}

		.svg-wrap > * {
			width: 100%;
		}
	}

	@media screen and (min-width: 62em) {
		min-height: 10vh !important;
		.container {
			width: 80%;
			margin: 0 auto;
			display: flex;
			align-items: center;

			.text-area {
				text-align: left;

				.btn-wrap {
					display: flex;
					justify-content: flex-start;
					gap: 15px;
					a {
						display: block;
					}

					.prod-btn {
						@include primaryBtn();
					}

					.treatment-btn {
						@include secondaryBtn();
					}
				}
			}

			.sample-product-wrap > * {
				inline-size: 100%;
				position: unset;
				left: unset;
			}
		}

		.svg-wrap {
			right: 0;
			width: 40%;
		}

		.svg-wrap > * {
			width: 100%;
		}
	}
}
