@import 'resets';

.product-container-section {
	margin-bottom: 4em;
	padding-top: 5em;

	.product-container {
		width: 90%;
		margin: 0 auto;
		.product {
			display: grid;
			gap: 3em;

			.product-image-wrap {
				display: flex;
				justify-content: center;
			}

			.product-image-wrap > img {
				inline-size: 70%;
				border-radius: $box-radius;
			}
		}
	}
}
