@import 'resets';

.treatment-section {
	.text-container {
		width: 80%;
		margin: 0 auto;
		border-bottom: dashed $accent-green 2px;
		padding-bottom: 2em;
		margin-bottom: 2em;

		.p-text {
			background: $rgb-bg;
			margin-bottom: 1em;
			padding: 2em;
			text-align: center;
			border-radius: $box-radius;
		}

		.heading {
			font-size: $font-sm;
			display: flex;
			align-items: center;
			color: $body-heading-color;

			.span {
				display: inline-block;
				font-size: 20px;
				color: $accent-green;
				margin-right: 0.5em;
			}
		}

		@media screen and (min-width: 43em) {
			.p-text {
				max-width: 350px;
				margin: 0 auto;
				margin-bottom: 1em;
			}
			.heading {
				max-width: 550px;
				margin: 0 auto;
			}
		}
	}

	// media scroll styles
	.treatment-products-wrap {
		background: #e5e5e5;
		padding: 3em 0;
		margin-bottom: 5em;

		.media-group-scroll {
			display: grid;
			gap: 15px;
			grid-auto-flow: column;
			grid-auto-columns: 80%;
			min-height: 400px;
			overflow-x: auto;
			margin-bottom: 2em;
			scroll-snap-type: inline mandatory;

			& > * {
				scroll-snap-align: center;
			}

			.treatment-package {
				background: rgba(106, 186, 67, 0.49);
				padding: 2em;
				border-radius: $box-radius;

				.img-wrap {
					display: flex;
					justify-content: center;
					margin-bottom: 1.8em;
				}

				.img-wrap > img {
					inline-size: 80%;
					border-radius: $box-radius;
				}

				.treatment-title {
					font-size: 15px;
					color: #fff;
					margin-bottom: 2em;

					.span {
						font-size: 12px;
						font-weight: $font-medium;
						display: inline-block;
						margin-top: 0.5em;
						color: #345b21;
					}
				}

				.btn {
					font-size: 14px;
					background: $accent-green;
					padding: $btn-padding;
					border-radius: 60px;
					font-weight: $font-medium;
					display: block;
					color: $light;
					text-transform: capitalize;
					text-align: center;
				}
			}
		}

		@media screen and (min-width: 43em) {
			.media-group-scroll {
				grid-auto-columns: 40%;
			}
		}

		@media screen and (min-width: 62em) {
			.media-group-scroll {
				grid-auto-columns: 30%;
			}
		}
	}
}
